body  {
    color: #030216; 
    background-color: rgb(217, 230, 233);  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;      
    line-height: 1.5;
    margin: 30px;
    }

h1 {
    text-align: center;
    color: rgb(118, 113, 113); 
    font-size: 35px;
}

h2{
    color: rgb(118, 113, 113);
    text-align: left;
    display: inline;    
   

}

h3 {
   color: rgb(47, 85, 151); 
   font-size: 19px;
}

h4 {
    font-size: 22px;
    color: rgb(89, 89, 89); 
    font-weight: bold;
}

.fotoja {

    width: 170px;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;

    overflow: auto
    
    
}

.CV {
    color: rgb(40, 38, 51);
}

section {
padding: 50px 15%;

}

.jmenoNadpis {
    text-align: left;

}

.personalie, .WorkExperience, .Education{
    padding-bottom: 0px;
}

.DigitalSkills{
    margin-bottom: 60px;
}